.be-background-blue {
  background-color: #8ac9ed;
}


.be-btn-green-then-blue {
  background-color: #bddc04 !important;
  border-color: #bddc04 !important;
  transition: background-color .5s;
  transition: border-color .5s;
}

.be-btn-green-then-blue:hover {
  background-color: #8ac9ed !important;
  border-color:  #8ac9ed !important;
}
