/*body {*/
/*  background-color: #fcfaf7!important;*/
/*}*/

#map_id {
  height: 500px;
  width: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.be-font {
  font-family: 'Vremena Grotesk Medium',Helvetica,Arial,Lucida,sans-serif;
  color: #333333 !important;
}

.be-box-shadow-right {
  box-shadow: 12px 12px 18px 0px rgba(0,0,0,0.07);
}
.be-box-shadow-left {
  box-shadow: -12px 12px 18px 0px rgba(0,0,0,0.07);
}

.be-box-shadow-center {
  box-shadow: -12px 12px 18px 0px rgba(0,0,0,0.07);
}

.be-background-blue {
  background-color: #8ac9ed;
}

.be-btn-green-then-blue {
  background-color: #bddc04 !important;
  border-color: #bddc04 !important;
  transition: background-color .5s;
  transition: border-color .5s;
}

.be-btn-green-then-blue:hover {
  background-color: #8ac9ed !important;
  border-color:  #8ac9ed !important;
}

.card-image-size {
  height: 12rem;
}

.scrollable-height {
  height: 30rem;
}

.scrollable-height-bottom {
  margin-top: .5rem;
  height: 12rem;
}

.scrollable {
  overflow-y: scroll;
}

.list-item-hover {
  background-color: #ffffff !important;
  transition: background-color .5s;
}

.list-item-hover:hover {
  background-color: #bddc04 !important;
}

.center-carousel-text {
  text-align: center;
}

.list-group-item.active {
  background-color: #8ac9ed !important;
}

.composter-list-item-hover {
  transition: background-color .5s;
  transition: color .5s;
}

.composter-list-item-hover:hover {
  color: black !important;
  background-color: #bddc04 !important;
}

.tab-border {
  padding-bottom: 1rem;
  border-bottom: antiquewhite 3px solid;
}

.whole-padding{
  padding-top: 2rem;
}

.be-card {
  background-color: #fcfaf7 !important;
  /*width: 18rem;*/
}

.carousel-container {
  height: 16rem;
}

.blog-card {
  cursor: pointer !important;
}

.range-input {
  padding-left: 2rem;
}
