# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
.idea
.idea/ban_map_fe.iml
.DS_Store
js/.DS_Store
